.name {
	color: blue;
}

.grid {
  display: grid;
  border: 2px blue solid;
  width: 500px;
  height: 500px;
  grid-template-rows: 3fr 3fr 3fr;
}

.story {
  color: black;
  border: 2px dodgerblue solid;
}

.a {
	
}